body{
    overflow-x: hidden;
}
.middle-logo img{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.card-who-we-are{
    margin: 10px;
    border: none;
}
.card-who-we-are h2,.card-who-we-are span, .card-who-we-are img{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
.card-who-we-are span{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FF9E48;
}
.card-who-we-are h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    color: #50A885;
}
.card-who-we-are img{
    width: 70px;
    height: 6px;
}

.card-who-we-are .card-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #3B3C36;
    padding-top: 10px;
}
.card-vision-mission{
    width: 300px;
    margin: 10px;
    height: 150px;
    background: linear-gradient(107.61deg, #5069A8 -89.64%, #59AE8C 14.7%, #64B595 95.9%);
    border-radius: 20px;
}

.card-vision-mission .card-body .graphics{
    margin-top: -19px;
    margin-left: 172px;
    width: 50px;
}
.card-vision-mission .card-title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.card-vision-mission .card-text{
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.product-all-row{
    background: rgba(122, 186, 160, 0.1);
    width: 100%;
    margin-top: 100px;
}

.product-card{
    width: 280px;
    height: 220px;
    margin: 10px;
    margin-left: 30%;
    background: #FFE506;
    border-radius: 20px;
    margin-top: -65px;
}

.product-card span{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #50A885;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin: auto;
    margin-right: 20px;
}

.product-card h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #50A885;
}
.product-card .product-line{
    width: 90px;
    height: 6px;
}
.product-card .card-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(89, 174, 140, 0.5);
    padding-top: 20px;
}

.product-card .seperator-line{
    width: 200px;
    padding-top: 15px;

}

.product-images-row{
    width: 360px;
    margin-left: 8%;
}

.product-card-body{
    width: 300px;
    margin: 10px;
    border: none;
}
.product-card-body .card{
    border: none!important;
    background: none;
}

.product-card-body .product-image {
    width: 240px;
    margin-left: 15px;
    height: 240px;
    border-radius: 180px;
    margin-bottom: 0px;
    background: url(../img/green-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card-body .card h3{
    text-align: center;
}

.partners-card {
    width: 100%;
    height: 200px;
    background-color: rgba(217, 217, 217, 0.1176470588);
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 64px;
    overflow: hidden;
}

.partners-card .slider .slide {
    width: 100%;
    display: inline;
    margin: 0px 40px;
}

.partners-card img{
    width: 25%;;
}

.partners-card .slider{
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}
@media only screen and (max-width: 480px) {
    .card-vision-mission{
        width: 300px!important;
        margin: 10px!important;
        margin-left: 12%!important;
    }
    .card-vision-mission .card-body .graphics {
        margin-left: 260px;
    }
    .product-card{
        width: 280px;
        height: 220px;
        margin: 10px;
        margin-left: 70px;
        background: #FFE506;
        border-radius: 20px;
        margin-top: -65px;
    }

    .product-images-row{
        width: 360px;
        margin-left: 8%;
    }

    .product-card-body{
        width: 300px;
        margin: 10px;
        border: none;
    }
    .product-card-body .card{
        border: none!important;
        background: none;
    }

    .product-card-body .product-image {
        width: 240px;
        margin-left: 15px;
        height: 240px;
        border-radius: 180px;
        margin-bottom: 0px;
        background: url(../img/green-circle.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-card-body .card h3{
        text-align: center;
    }

    .partners-card {
        width: 100vw;
        margin-top: 50px;
    }


    /* Contact */
    .contact-wrapper, .contact-section {
        width: 460px;
    }
    .contacts-rectangle {
        margin-top: 0%;
    }
    .contact-wrapper {
        height: auto;
        width: 460px;
        margin-top: 50px;
    }
    .contact-info {
        padding-top: 0px;
        padding-right: 0px;
    }
    .card-title br{
        display: none;
    }
    .contact-section div img {
        width: 58%;
        margin-left: 0px;
    }
    .links {
        display: grid;
        margin-left: -24vw;
        margin-top: 30px;
    }
    .links span {
        font-size: 16px;
        width: 172%;
    }
    .contacts-rectangle .contact-info {
        transform: none;
    }
    .contacts-rectangle {
        height: 450px;
    }
    .arrow {
        transform: rotate(90deg);
    }
    .form-section {  
        height: 620px;
        margin-top: -20vw;
    }
    .footer-divider-line {
        margin-top: 50px;
    }
    .input-area label {
        font-size: 20px;
        font-weight: 500;
    }
    .title-section h1 {
        font-size: 30px;
    }
    .button input {
        font-size: 36px;
    }
    .round-circles img{
        margin-left: 25px !important;
        margin-top: -20px;
    }
}
