*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* headings */

h1,h2, p{
    font-family: 'DM serif Display', serif;
    text-transform: capitalize;
    color: #3B3C36;
}

/* card numbers */
h4{
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    font-weight: 400;
}


/* Product card */

.products-card
{
    background-color: #FFE506;
    width: 374px;
    height: 421px;
    border-radius: 20px;
    margin-top: -24%;
    margin-left: 4%;
}

.products-card h1{
    color: #50A885;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}

.products-card .number h4{
    color: #50A885;
    margin-left: 80%;
}

.line
{
    margin-top: 12px;
}

select{
    background: none;
    width: 253px;
    height: 56px;
    border-radius: 56px;
    border-width: 2px;
    padding-left: 16px;
    border-color: hsla(156, 35%, 49%, 0.575);
    color: #50A885;
    font-weight: 600;
    font-size: 16px;
    margin-top: 32px;
    outline: none;
}

select:focus{
    outline-color: #50A885;
}

option{
    background: #50A885;
    color: #fff;

}


.card-boundaries{
    padding: 32px 0px 0px 32px;
}

.card-title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* End of product card */

/* product section */
.product-section{
    margin-top: 100px;
}

/* product image */
.products-image-container{
    background: rgb(80, 168, 133, 0.1);
    height: 344px;
    padding-left: 30%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 3%;
    padding-left: 16px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product h3{
    font-size: 16px;
    color: #3B3C36;
    text-transform: capitalize;
}

.product-image{
    width: 240px;
    height: 240px;
    border-radius: 180px;
    margin-bottom: 16px;
    background: url(../img/green-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content:    center;
    align-items: center;
}

.image img{
    width: 180px;
    height: 180px;
    padding: 0;
    border-radius: 150px;
}



/* ==================== product image */



/* founder section */
.wrapper
{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.word-section{
    margin-left: 10%;
    width: 850px;
    height: 450px;
    background-color: rgb(80, 168, 133, 0.1);
    margin-left: 100px;
    border-radius: 30px;
}

.round-circles{
    float: left;
    margin-left: -60px;
    /* padding-top: -10px; */
}

.text-section
{
    padding: 24px;
    padding-left: 150px;
}

.text-section h1{
    font-size: 48px;
    font-weight: bold;
    color: #3B3C36;
    margin-bottom: 32px;
    font-family: 'DM serif Display', serif;
}

.text-section p{
    font-family: 'inter', serif;
    font-size: 20px;
    width: 560px;
    padding-bottom: 64px;
    text-transform: none;
    line-height: 32px;
}

.text-section span{
    color: #50A885;
    opacity: 0.2;
    font-size: 100px;
    font-family: 'inter'

}

.ceo-profile{
    color: #fff;
}

.ceo-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.ceo-image img{
    height: 100%;
}

.name-title{
    margin-top: -140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.name-title h2{
    color: #ffff;
    font-size: 32px;
    padding-bottom: 14px;
}

.name-title h5{
    font-family: 'DM serif display', serif;
    letter-spacing: 2px;
    font-size: 18px;
    opacity: 0.6;
}

.orange-rectangle{
    width: 278px;
    height: 3px;
    opacity: 1;
    background-color: #FF9E48;
}

.founder h4{
    background-color: #3B3C36;
}


/* =========================== founder section */


/* contact-section */

.contact-wrapper
{
    margin-left: 100px;
    margin-top: 50px;
}

.contact-section{
    padding-top: 60px;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-left: 100px;
    
}

.contacts-rectangle{
       height: 533px;
       width: 423px;
       background-color: #50A885;
       border-radius: 20px;
       margin-left: 10%;
}


.contact{
    padding: 80px 0px 0px 16px;
}

.links{
    padding-left: 64px;
    padding-top: 40px;
}

.contact-info{
    display: flex;
    flex: row;
    align-items: center;
    gap: 16px;
    padding-bottom: 24px;
}

.contact-info span{
    color: #fff;
    font-size: 18px;
}

.contact h1{
    color: #fff;
    padding-bottom: 12px;
    font-size: 40px;
}

/* form section */

.contact-wrapper{
    background-color: rgb(255, 229, 6, 0.02);
    margin-left: 0px;
    margin-top: 200px;
    height: 800px;
}


.form-section{
    background-color: #F2F8F5;
    width: 444px;
    height: 700px;
    border-radius: 20px;
    padding-left: 48px;
    padding-top: 56px;
}



.input-area
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

form{
    padding-top: 36px;
}



.title-section h1{
    padding-bottom: 12px;
}

.input-area label{
    font-size: 14px;
}

.input-area input, textarea
{
    border: none;
    border-radius: 6px;
    transition: all ease-in-out 0.1s;
}

.input-area input{
    width: 356px;
    height: 50px;
    padding: 16px;
    margin-bottom: 24px;
    color: #50A885;
    text-transform: capitalize;
    font-weight: 700;
}

.input-area input:focus{
    outline: 2px solid #FF9E48;
}

.input-area textarea{
    width: 356px;
    height: 150px;
    padding: 16px;
    color: #50A885;
    font-weight: 600;
}

.input-area textarea:focus
{
    outline: 2px solid #FF9E48;
}

.button input{
    width: 356px;
    height: 50px;
    border-radius: 6px;
    border: none;
    background-color: #50A885;
    color: #fff;
    font-family: 'DM serif display';
    font-size: 16px;
    margin-top: 24px;
}

.button input:hover
{
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 20px 50px rgb(80, 168, 133, 0.4);
}

/* ======================== contact-section */